.auth-window {
    display: flex;
    width: 60em;
    height: 40em;
    background: white;
    border-radius: 1em;
    box-shadow: 2px 2px 9px #a3a3a3;
    position: relative;
}

.toggle-box {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--purpure-gradient);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
}