.purchases-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    border-radius: 1em;
    box-shadow: 2px 2px 9px #a3a3a3;
    padding: 1em;
}