.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border-right: 1px solid var(--gray);
}

.menu-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 1em;
}

.menu-item-icon {
    width: 1.5em;
}