.overview-header-container {
    display: flex;
    flex-direction: column;
    height: 4.5em;
    background: white;
    box-shadow: 2px 2px 10px #424242;
    align-items: end;
    justify-content: center;
    padding: 0 1em;
}