.buy-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 5px 1px #a3a3a3;
    padding: 0.5em;
    border-radius: 1em;
}

.buy-productName {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: center;
}

.buy-icon-container {
    display: flex;
    align-items: center;
    background: var(--yellow-gradient);
    padding: 0.8em;
    border-radius: 1em;
}

.buy-icon {
    width: 1.2em;
    filter: invert(1);
}

.buy-money {
    display: flex;
    align-items: center;
}

