.card-container {
    width: 12em;
    height: 5em;
    box-shadow: 2px 2px 10px 1px #a3a3a3;
    padding: 1em;
    border-radius: 1em;
    color: white;
    background: var(--orange-gradient);
    position: relative;
}

.card-price {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.3em;
    height: 80%;
}

.card-name {
    font-size: 1.3em;
    height: 20%;

}

.card-icon {
    width: 2em;
    filter: invert(1);
    position: absolute;
}