.main-container {
    display: flex;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    gap: 1em;
}

.main-window {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 1em;
    box-shadow: 2px 2px 9px #a3a3a3;
}