.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1em;
}

.header-avatar-container {
    display: flex;
}

.header-notification-icon {
    width: 1.2em;
    border: 1px solid var(--gray);
    border-radius: 1em;
    padding: 0.8em;
}


.header-avatar-icon {
    width: 1.2em;
    border: 1px solid var(--gray);
    border-radius: 1em;
    padding: 0.8em;
}

.header-control-container {
    display: flex;
    gap: 1em;
}

.header-cash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.header-currentData {
    display: flex;
    align-items: center;
}

.header-search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray);
    border-radius: 1em;
}

.header-search-icon {
    width: 1.2em;
    padding-left: 0.5em ;
}

.header-search {
    outline: none;
    border: none;
    font-size: 1em;
    padding-left: 0.5em ;
}

