:root {
  font-family: "Avenir", GadGen, sans-serif;
  --yellow-gradient: linear-gradient(to right, #ffbc3b, #ffcf7b);
  --orange-gradient: linear-gradient(to right, #FF864C, #F2A276);
  --violet-gradient: linear-gradient(to right, #9E6AFF, #C7ACFB);
  --purpure-gradient: linear-gradient(to right, #8D70EE, #4D9FCA);
  --overview-gradient: linear-gradient(to right, #8D70EE, #4D9FCA);
  --red-gradient: linear-gradient(to right, #E4334D, #E4687A);
  --gray: #E0E0E0;
  --dark-gray: #616161;

}

html, body {
  height: 100%;
  margin: 0;
  color: var(--dark-gray);
  background: var(--gray);
}

.app-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-window {
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 1em;
  box-shadow: 2px 2px 9px #a3a3a3;
}